/*Reset style*/

* {
	margin: 0;
	padding: 0;
	overflow: auto;
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	display: flex;
	padding: 0 15px;
}

header {
	background: #fff;
	padding: 15px 0;
}
header .logo {
  margin-right: 100px;
  overflow: hidden;
}
header .logo img {
	max-width: 100%;
  width: auto;
  height: auto;
}
header nav {
	margin-bottom: 15px;
  display: flex;
  align-items: center;
}
header nav a {
	color: #333;
	text-decoration: none;
	text-transform: uppercase;
  font-weight: 800;
  margin-right: 15px;
  transition: color .3s ease;
  font-size: 1em;
}
header nav .active {
	color: #39c2d7;
}
header nav a:hover {
	transition: color .3s ease;
	color: #39c2d7;
}



/*For tablet*/

@media screen and (min-width: 576px) and (max-width: 900px) {
	header .containertext {
    flex-direction: column;
    align-items: center;
	}
	header .logo {
		margin-right: 0;
    margin-bottom: 15px;
	}
}

/*For mobile*/

@media screen and (max-width: 575px) {
	header .containertext {
		flex-direction: column;
		padding: 0;
	}
	header .logo {
		margin-right: 0;
		text-align: center;
	}
	header nav {
		flex-direction: column;
		align-items: flex-start;
		overflow: hidden;
	}
	header nav a {
    width: 100%;
    padding: 10px 15px;
    background: #ccc;
    border-bottom: 1px solid #333;
	}
	header nav a:first-child {
		border-top: 1px solid #333;
	}
	header nav .active {
		color: #333;
	}
	header nav a:hover {
		color: #333;
	}
}

.main {
	width: 100%;
	background: url('../img/banner.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	height: 400px;
}
.main .containertext {
	display: flex;
  align-items: center;
  height: 100%
}
.main .main-text {
	color: #fff;
	font-size: 1.3em;
	width: 300px;
}
.main h2 {
  line-height: 1.4em
}

/*For tablet*/

@media screen and (min-width: 576px) and (max-width: 900px) {
	.main {
		height: 500px;
	}
	.main .containertext {
    justify-content: center;
    align-items: flex-start;
	}
	.main .main-text {
		width: 500px;
		text-align: center;
		margin-top: 30px;
	}
	.main h2 {
		font-weight: normal;
		font-size: 1.2em;
	}
}

/*For mobile*/

@media screen and (max-width: 575px) {
	.main {
		height: 250px;
	}
	.main .containertext {
    justify-content: center;
    align-items: flex-end;
	}
	.main .main-text {
		width: 100%;
		margin-bottom: 15px;
		background: #39c2d7;
		padding: 10px 5px;
	}
	.main h2 {
		font-size: .8em;
	}
}



.news {
	padding: 30px 0;
}
.news .news-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  width: 100%;
}
.news .news-item {
	padding: 15px 15px 25px;
  background: #ccc;
  transition: .3s;
}
.news .news-item a {
	color: #000;
	text-decoration: none;
}
.news .news-item:hover {
	transition: .3s;
	background: #39c2d7;
}
.news .news-item img {
	width: 100%;
}
.news .news-item h4 {
	margin: 10px 0;
	font-size: 1.1em;
}
@media screen and (max-width: 900px) {
	.news {
		padding: 15px 0;
	}
	.news .news-wrap {
	  grid-template-columns: 1fr 1fr;
	}
	.news .news-item img {
    width: 80%;
    margin-left: 10%;
	}
	.news .news-item h4 {
		margin: 5px 0;
	}
}

/*News mobile*/

@media screen and (max-width: 575px) {
	.news .news-wrap {
	  grid-template-columns: 1fr;
	}
}




footer {
	width: 100%;
	background: #39c2d7;
	padding: 15px 0;
}
footer .footer-content {
	display: flex;
	width: 100%;
}
footer ul {
	display: flex;
}
footer p, footer a {
	color: #fff;
	font-size: 1em;
	font-weight: bold;
}
footer li {
	margin-right: 30px;
}
footer a:hover {
	text-decoration: none;
}


@media screen and (max-width: 900px) {
	footer .footer-content {
		align-items: center;
    flex-direction: column;
	}
	footer ul {
		margin-bottom: 15px;
	}
	footer li {
		margin: 15px;
	}	
}

/*For mobile*/

@media screen and (max-width: 575px) {
	footer ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
	}
	footer ul li+li {
		margin-top: 5px;
	}
}