$bg-color: rgba(198, 238, 252, 0.53);
$contetnt-bg: #3b3b3b;
$text-color: #fff;
$h2-color: #fccd10;
$h1-color: $h2-color;
$color: #fff;
$font-size: 16px;
$a-color: #f5c70f;
$img-border: #f5c70f;
$th-bgcolor:  #677d01;
    
    
    
   
    
    
    
    
    
 